PORT=
STAGE=

# CLIENT DEVELOP
CLIENT_URL=

# CLIENT PROD
# CLIENT_URL=

# DATABASE DEVELOP
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# DATABASE PROD
# DB_HOST=
# DB_PORT=
# DB_USER=
# DB_PASSWORD=
# DB_NAME=